.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

.searchDescription {
  font-size: 12px;
  line-height: 16px;
  color: #55566b;
  text-align: center;
  margin-top: 40px;
  font-weight: 600;
}
