.wrapper {
  background: #fafafa;
  padding: 24px 0 88px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 50px;
}

.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

.bottomBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  border: 2px solid #e9e9ec;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #f3f3f5;
}

.countResults {
  width: 110px;
  height: 100%;
  border-right: 1px solid #e9e9ec;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: #2b2c46;
}

.offerText {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: #2b2c46;
  & a {
    color: #3e36dc;
    cursor: pointer;
  }
}

.ergoSvg {
  border-left: 1px solid #e9e9ec;
  height: 100%;
  display: flex;
  width: 48px;
  align-items: center;
  justify-content: center;
}
